@font-face {
    font-family: 'pf_tempesta_fiveregular';
    src: url('/fonts/pf_tempesta_five-webfont.woff2') format('woff2'),
         url('/fonts/pf_tempesta_five-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#canvas-container {
  align-content: center;
}

button {
  padding: 1px 12px 3px 12px;
  font-family: 'pf_tempesta_fiveregular';
  font-size: 12px;
  font-weight: normal;
  color: #303030;
  letter-spacing: 1px;
  background: #fff;
  border: 0;
  outline: 0;
  border: 2px solid #303030;
  cursor: pointer;
}
